.Gl{
    width:100%; 
    max-width: 1024px;
    display:flex;
    justify-content: space-between;
   flex-direction: row;
   flex-wrap: wrap;
    gap:20px;
}
.GlItem{
    text-align: left;
    flex:1;
    gap:10px;
    display:flex;
    flex-direction: column;
    color:rgb(0, 0, 0);
    border-radius: 10px;
    overflow: hidden;
    cursor:pointer; 
}
.glImg{
    height:250px;
    
}
.glName{
    font-weight: bold ;
}
.glCity{
    font-weight: 300;
}
.glPrice{
    font-weight: 600;
}
.glRating>button{
    background-color: #003584;
    color:white;
    border: none;
    padding: 3px;
    margin-right: 10px;
}