.header{
    /* width:100%; */
    position:relative;
    top:1px;
    height:50px;
    background-color: initial;
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-top:10px;
    background-color: rgb(22, 22, 71);
}
.header__left{
    color:white;
    font-size: 15px;
    font-weight: 700;
    margin-left:40px;
}
.bst{
   font-weight: 700;
   color:black;
   margin-left: 20px;
   height:50px;
   width:80px;
}

.bst:hover{
    color:white;
    background-color: black;
}
.header__right{
    display:flex;
    margin-right:40px;
}
@media only screen and (max-width: 600px){
    .header__right{
        margin-right:5px;
    }
    .bst{
        font-weight: 500;
        color:black;
        margin-left: 5px;
        border-radius:10px;
        width:40px;
        font-size: 10px;
     }
     .header__left{
        color:white;
        font-size: 3px;
        font-weight: 700;
        margin-left:20px;
    }

}
