.log-elem{
    /* width:300px; */
    border:1px solid gray;
    
}
.containers{
    display:flex;
    align-items: center;
    justify-content: center;
}
.siCbuttons{
    border:none;
    background-color:  #003584;
    color:white;
    height:40px;
}
.inputsv{
    border: none;
    outline:none;
    height:40px;
    
}
.ics{
    color: gray;
    margin-right:30px;
}
.log-elem{
    margin-top: 30px;
}
.cld{
    cursor:pointer;
}

.signup{
    cursor:pointer;
    color:rgb(31, 31, 73)
}